<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route')== "concert" %}active aria-current="page"{% endif %}" href="{{path('concert')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route')== "bandLists" %}active aria-current="page"{% endif %}" href="{{path('bandLists')}}">Liste des groupes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route')== "" %}active aria-current="page"{% endif %}" href="{{path('bandLists')}}">Trouvez un concert</a>
                </li>
            </ul>
            <ul class="my-2 my-lg-0 navbar-nav">
                {% if app.user %}
                    <li class="nav-item">
                        <a href="{{path('bandLists')}}" class="nav-link">{{app.user.getName()}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('bandLists')}}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_register')}}">Inscription</a>
                    </li>
                {% endif %}


            </ul>
        </div>
    </div>
</nav>