{% extends 'base.html.twig' %}

{% block title %}Ajouter groupe{% endblock %}

{% block body %}
<h1> Ajouter un Groupe </h1>

{{ form_start(band_form) }}
    {{ form_row(band_form.name, {
            label: 'Nom'}) }}
    {{ form_row(band_form.artist, {
            label: 'Membres du groupe'}) }}
    {{ form_row(band_form.description , {
            label: 'Description'}) }}
    {{ form_row(band_form.picture , {
    label: 'Photo du groupe'}) }}

    <button type="submit" class="btn">Ajouter groupe</button>
{{ form_end(band_form) }}
{% endblock %}